body {
    max-width: 800px;
    margin: auto;

}

main {
    background: lightcyan;

}

img {
    max-width: 400px;
    margin-left: 20px;
}

nav {
    padding: 10px;
    background-color: rgb(183, 206, 220);
}

nav a {
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    padding: 10px;
}